<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cree su cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="action-buttons" lines="none" no-padding>
    <ion-button class="btnLogin" (click)="goCostumer()">
      Quieres Contratar
    </ion-button>
    <ion-button class="btnSignUp" (click)="goWorker()" color="dark">
      Quieres Trabajar
    </ion-button>
  </ion-item>
</ion-content>